<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!--       dao is here       -->
	<bean id="uniqueIdDAO" class="com.tutor.dao.impl.UniqueIdDAOImpl"></bean>
	<bean id="studentDAO" class="com.tutor.dao.impl.StudentDAOImpl"></bean>
	<bean id="teacherDAO" class="com.tutor.dao.impl.TeacherDAOImpl"></bean>
	<bean id="norCourseDAO" class="com.tutor.dao.impl.NorCourseDAOImpl"></bean>
	<bean id="graCourseDAO" class="com.tutor.dao.impl.GraCourseDAOImpl"></bean>
	
</beans>