<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!--       action is here       -->
	
	<bean id="testAction" class="com.tutor.action.TestAction" scope="prototype">
	</bean>
	<bean id="teacherBasicAction" class="com.tutor.action.TeacherBasicAction" scope="prototype">
		<constructor-arg ref="teacherDAO"></constructor-arg>
	</bean>
	<bean id="studentBasicAction" class="com.tutor.action.StudentBasicAction" scope="prototype">
		<constructor-arg ref="studentDAO"></constructor-arg>
	</bean>
	
</beans>